*.md linguist-documentation=false linguist-detectable=true
*.markdown linguist-documentation=false linguist-detectable=true
*.html linguist-documentation=true linguist-detectable=false
*.htm linguist-documentation=true linguist-detectable=false
