(
    palette: Light((
        name: "embark-light",
        bright_red: (
            red: 0.9411765,
            green: 0.1803922,
            blue: 0.4313726,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.4980392,
            green: 0.9137255,
            blue: 0.7647059,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 0.9490196,
            green: 0.7058824,
            blue: 0.5098039,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.9372549,
            green: 0.9254902,
            blue: 0.9529412,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.8862745,
            green: 0.8745098,
            blue: 0.9019608,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.9372549,
            green: 0.9254902,
            blue: 0.9529412,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.8862745,
            green: 0.8745098,
            blue: 0.9019608,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.7960784,
            green: 0.8901961,
            blue: 0.9058824,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.6862745,
            green: 0.6784314,
            blue: 0.7333333,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.5411765,
            green: 0.5333333,
            blue: 0.6156863,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.3450980,
            green: 0.3215686,
            blue: 0.4509804,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.2431373,
            green: 0.2196078,
            blue: 0.3490196,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.1764706,
            green: 0.1686275,
            blue: 0.2509804,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.1176471,
            green: 0.1098039,
            blue: 0.1921569,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 0.0627451,
            green: 0.0549020,
            blue: 0.1372549,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.4705882,
            green: 0.6588235,
            blue: 1.0,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.4627451,
            green: 0.4627451,
            blue: 1.0,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.6392157,
            green: 0.4784314,
            blue: 0.8000000,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.8470588,
            green: 0.3764706,
            blue: 0.5254902,
            alpha: 1.0,
        ),
        accent_red: (
            red: 0.9411765,
            green: 0.1803922,
            blue: 0.4313726,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.9490196,
            green: 0.7058824,
            blue: 0.5098039,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.8509804,
            green: 0.7333333,
            blue: 0.2000000,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.4000000,
            green: 0.7529412,
            blue: 0.6039216,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.5411765,
            green: 0.5333333,
            blue: 0.6156863,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.3450980,
            green: 0.3215686,
            blue: 0.4509804,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.8509804,
            green: 0.5568627,
            blue: 0.3019608,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 0.8000000,
            green: 0.6862745,
            blue: 0.0,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.3568627,
            green: 0.5490196,
            blue: 0.8509804,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.6392157,
            green: 0.4784314,
            blue: 0.8000000,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.8000000,
            green: 0.1803922,
            blue: 0.4000000,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.4627451,
            green: 0.4627451,
            blue: 1.0,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: Some((
        red: 0.6862745,
        green: 0.6784314,
        blue: 0.7333333,
    )),
    bg_color: Some((
        red: 0.9372549,
        green: 0.9254902,
        blue: 0.9529412,
        alpha: 1.0,
    )),
    primary_container_bg: Some((
        red: 1.0,
        green: 1.0,
        blue: 1.0,
        alpha: 1.0,
    )),
    secondary_container_bg: None,
    text_tint: Some((
        red: 0.1176471,
        green: 0.1098039,
        blue: 0.1921569,
    )),
    accent: Some((
        red: 0.6392157,
        green: 0.4784314,
        blue: 0.8000000,
    )),
    success: Some((
        red: 0.4000000,
        green: 0.7529412,
        blue: 0.6039216,
    )),
    warning: Some((
        red: 0.8509804,
        green: 0.7333333,
        blue: 0.2000000,
    )),
    destructive: Some((
        red: 0.9411765,
        green: 0.1803922,
        blue: 0.4313726,
    )),
    is_frosted: false,
    gaps: (0, 4),
    active_hint: 2,
    window_hint: None,
)
